retrieval.json
{
  "name": "retrieval",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://ictuniverse-testing-n8n.hf.space/gradio_api/call/predict",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": [\"{{ $json.message.text }}\"]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -20,
        80
      ],
      "id": "eaade780-a8ab-497d-bd8a-f3ea6b2baf90",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://ictuniverse-testing-n8n.hf.space/gradio_api/call/predict/{{ $json.event_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        80
      ],
      "id": "d604f5c7-367a-4a69-aac6-9f5f67b3d43b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42ab5ef6-df1c-4f83-8cf1-1c489a2d73c4",
              "name": "data",
              "value": "={{ $json[\"data\"].match(/data: \\[\\[(.*)\\]\\]/)[1].replace(/\\n/g, '').trim() }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        80
      ],
      "id": "737ea4c4-0e62-4783-8de8-2f08a6665ffd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://testing-n8n-rag-0lqo9n3.svc.aped-4627-b74a.pinecone.io/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key",
              "value": "pcsk_uxWZX_CT5uRZ5df46SqhwA7AU6BnZwhHqSddNjECbrJQfZYqiqvchiqXaqb35NTDm4xFF"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n        \"vector\": [{{ $json.data }}],\n        \"namespace\": \"bkai-legal-docs\",\n        \"topK\": 30,\n        \"includeMetadata\": true,\n        \"includeValues\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        80
      ],
      "id": "bdd225f0-cf88-4855-84d9-f1beb83be920",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.results[0].document }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1300,
        80
      ],
      "id": "1ded3638-7f41-4e28-8c58-b7cbbec2d71c",
      "name": "Telegram",
      "webhookId": "f170860d-9756-4878-9e08-c53d3b87780c",
      "credentials": {
        "telegramApi": {
          "id": "QlOmHwieSbCz24A1",
          "name": "notify bot"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -300,
        -120
      ],
      "id": "72559dbe-b6a6-492d-9b2d-2a60ff42c2dd",
      "name": "Telegram Trigger",
      "webhookId": "6e8171b5-b33f-4ff4-bf73-5c3ebcc129d2",
      "credentials": {
        "telegramApi": {
          "id": "QlOmHwieSbCz24A1",
          "name": "notify bot"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"data\": [\"{{ $json.message.text }}\"]\n} "
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -300,
        80
      ],
      "id": "6b2fd832-eb12-489d-823e-e5744f6a63c5",
      "name": "When Executed by Another Workflow",
      "disabled": true
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -300,
        -320
      ],
      "id": "4d7c65a7-c8b5-47ca-8e6c-41aadf4e6791",
      "name": "When chat message received",
      "webhookId": "2eab689d-0f1d-4a81-b2b6-0983c9696aa6",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ictuniverse-testing-n8n.hf.space/gradio_api/call/predict",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": [\"{{ $json.chatInput }}\"]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -20,
        -100
      ],
      "id": "7805a0e6-f4e7-4237-95bd-1f003edf0020",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"docs\": \"{{ $json.matches[0].metadata.text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1060,
        -180
      ],
      "id": "0979a9a4-7c0a-45e8-b6d8-5078b87b5cb9",
      "name": "Edit Fields1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ictuniverse-reranking.hf.space/rerank",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $('Telegram Trigger').item.json.message.text }}\",\n  \"documents\": {{ JSON.stringify($json.matches.map(m => m.metadata.text)) }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        80
      ],
      "id": "479d707a-2bf0-4eaa-b800-87ddada0eaae",
      "name": "HTTP Request4"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2e5bdb0e-28e3-4ea3-98fe-255f2f94ada9",
  "meta": {
    "instanceId": "7c1cfe40bbfa6d814661688c93827a8c3ceafee86e71659581903aceaaaadf1f"
  },
  "id": "t5NSAlNnuo9d7LGD",
  "tags": []
}